@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;


}

body {
  background-image: linear-gradient(45deg, #7dd3fc, #e0f2fe);
  background-size: cover;


}

.heading {
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8rem;
  color: #1e3a8a;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #374151;
}

.result {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
  color: rgb(242, 54, 54);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 30rem;
  margin: 5rem auto;
  box-shadow: 0 4px 6px 3px rgb(0 0 0 / 0.1);
  position: relative;
}

.check-box {
  height: 10rem;
  cursor: pointer;
  border: none;
  background-color: #f1f5f9;
  font-size: 3rem;
  font-weight: 700;
}

.newgame {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  background-color: #f1f5f9;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #374151;
  cursor: pointer;
}

.newgame:hover {
  box-shadow: 0 4px 6px 3px rgb(0 0 0 / 0.1);
}

.gameover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f1f5f96e;
  filter: blur(8px);
  z-index: 98;
  display: none;
}

.container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: #b91c1c;
  z-index: 99;
}