@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8rem;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.result {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
  color: rgb(242, 54, 54);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 30rem;
  margin: 5rem auto;
  box-shadow: 0 4px 6px 3px rgb(0 0 0 / 0.1);
}

.check-box {
  height: 10rem;
  cursor: pointer;
  border: none;
  background-color: #f1f5f9;
  font-size: 3rem;
  font-weight: 700;
}